<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>wa uoe</title>
</head>
<body>
<center>
<h1>我的网站</h1>
<form action="/session" accept-charset="UTF-8" method="post">
	<div id="app">
		<div>
			用户名：<input type="text" v-model="username">
		</div>
		<div>
			&nbsp;&nbsp;&nbsp;&nbsp;密码：<input type="text" v-model="pwd">
		</div>	
		<div>
			<input type="submit" name="commit" value="登录" tabindex="3"  />
		</div>
		<div>
			<span>你的用户名是：{{username}}</span></br>
			<span>你的密码是：{{pwd}}</span>
		</div>
	</div>
</form>
</center>
<script src="./js/vue.js"></script>
<script src="./js/main.js"></script>
</body>
</html>

